api/vendor/
api/.phpunit.result.cache
node_modules/
api/config/database.local.php
api/config/app.local.php
data/*.geojson
.env
router.php

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
